  <div class="pane-components" style="height: 554px; ">
    <div class="pane-components-inner tweet-components">
    <div class="component"><div class="conversation">
  <div class="related-tweets" data-related-impression-id="" data-related-group-name="" data-related-annotations="">
          <div class="conversation-last-ancestor-tweet">
  <div class="stream-item js-stream-item">
  <div class="more">?</div>
  <div class="js-stream-tweet js-actionable-tweet stream-item-content tweet stream-tweet simple-tweet favorited " data-tweet-id="145733997463474176" data-item-id="145733997463474176" data-screen-name="LihaoAlbert" data-user-id="425849117">
    <div class="tweet-image simple-tweet-image">
        <img height="32" width="32" src="https://twimg0-a.akamaihd.net/sticky/default_profile_images/default_profile_1_normal.png" alt="intfocus Albert" class="user-profile-link" data-user-id="425849117">
    </div>
    <div class="tweet-content simple-tweet-content">
      <div class="tweet-row">
        <span class="tweet-user-name">
  <a class="tweet-screen-name user-profile-link js-action-profile-name" data-user-id="425849117" href="/#!/LihaoAlbert" title="intfocus Albert">LihaoAlbert</a>
  <span class="tweet-full-name">intfocus Albert</span>
  </span>
        <div class="tweet-corner">
          <div class="tweet-meta">
  <span class="icons">
    <div class="extra-icons">
              <span class="inlinemedia-icons js-icon-container"></span>
        </div>
  </span>
</div> 
