.jqclock { 
	/*float:left;*/
	width: 100px;
	text-align:center; 
	border: 1px Black solid; 
	background: LightYellow; 
	padding: 10px; margin:20px; 
}
.clocktime { 
	border: 2px inset White;
	background: Black; 
	padding: 5px; 
	font-size: 14px; 
	font-family: "Courier"; 
	color: LightGreen; 
	margin: 2px; 
	display: block;
}