<div>
	<ul>
		<li><a href="/home/connect"><img src="/images/sina-login.png" /></a></li>
		<li><a href="#"><img src="/images/kaixin-login.png" /></a></li>
		<li><a href="#"><img src="/images/renren-login.png" /></a></li>
		<li><a href="#"><img src="/images/tencent-login.png" /></a></li>
	</ul>
</div>
