<%= javascript_include_tag "/javascripts/libs/jquery-1.7.1.min.js" %>
<%= javascript_include_tag "/javascripts/uploadimg.js" %>
<br />
<input name="" size="60" id="uploadImg" type="file" />
<div><button type="button" id="bid">Button</button></div>