         <div class="row">
          <div class="main-content" style="width:620px;">
            <div class="stream-content">
<!--页签 -->
  <ul class="tabs">
      <li class="active">
        <a class="tab-text" href="#">待回复评论</a>
      </li>
    </ul>
<!--微博外包装 -->
      <div class="stream-manager js-stream-manager-container">
  <div class="js-stream-manager" id="profile-stream-manager"><div class="stream-title"></div><div class="stream-container"><div class="stream ">
  
  <div class="js-stream-items stream-items" id="stream-items-id">
<!--单条微博 -->
<div class="js-stream-item stream-item" data-item-id="145733997463474176" data-item-type="tweet" media="true">
  <div class="more">»</div>
<div class="stream-item-content tweet js-actionable-tweet js-stream-tweet stream-tweet favorited  " data-is-reply-to="false" data-tweet-id="145733997463474176" data-item-id="145733997463474176" data-screen-name="LihaoAlbert" data-user-id="425849117">
  <div class="tweet-dogear"></div>
  <div class="tweet-image">
      <img height="48" width="48" src="./Twitter_2nd_files/default_profile_1_normal.png" alt="intfocus Albert" class="user-profile-link js-action-profile-avatar" data-user-id="425849117">
  </div>
  <div class="tweet-content">
    <div class="tweet-row">
              <span class="tweet-user-name">
  <a class="tweet-screen-name user-profile-link js-action-profile-name" data-user-id="425849117" href="./Twitter_2nd_files/Twitter_2nd.htm" title="intfocus Albert">LihaoAlbert</a>
  <span class="tweet-full-name">intfocus Albert</span>
  </span>
      <div class="tweet-corner">
        <div class="tweet-meta">
  <span class="icons">
		    <div class="extra-icons">
		              <span class="inlinemedia-icons js-icon-container"></span>
		        </div>
  </span>
</div>
      </div>
    </div>
    <div class="tweet-row">
      <div class="tweet-text js-tweet-text">I am here, tweet , from china</div>
    </div>
          <div class="tweet-row">
        <a href="https://twitter.com/#!/LihaoAlbert/status/145733997463474176" class="tweet-timestamp js-permalink">
  <span class="js-tweet-timestamp _old-timestamp" title="1:17 PM, Dec 11th" data-time="1323580667000" data-long-form="true">11 Dec</span>
</a>
        <span class="tweet-actions js-actions" data-tweet-id="145733997463474176">
      <span class="tweet-action action-favorite">
              <a href="https://twitter.com/#" class="unfavorite-action js-toggle-fav" data-favorited="true" title="Unfavorite"><span><i></i><b>Unfavorite</b></span></a>
                        </span>
          <a href="https://twitter.com/#" class="reply-action js-action-reply" data-screen-name="LihaoAlbert" title="Reply"><span><i></i><b>Reply</b></span></a>
          <a href="https://twitter.com/#" class="delete-action js-action-del" title="Delete"><span><i></i><b>Delete</b></span></a>
    </span>
      </div>
                                                      <div class="tweet-row tweet-activity tweet-activity-retweets">
                </div>
              <div class="tweet-row tweet-activity tweet-activity-favorites"></div>
            </div>
</div>
</div>
<!--单条微博结束 -->
<div class="js-stream-item stream-item" data-item-id="145733997463474176" data-item-type="tweet" media="true">
  <div class="more">»</div>
<div class="stream-item-content tweet js-actionable-tweet js-stream-tweet stream-tweet favorited  " data-is-reply-to="false" data-tweet-id="145733997463474176" data-item-id="145733997463474176" data-screen-name="LihaoAlbert" data-user-id="425849117">
  <div class="tweet-dogear"></div>
  <div class="tweet-image">
      <img height="48" width="48" src="./Twitter_2nd_files/default_profile_1_normal.png" alt="intfocus Albert" class="user-profile-link js-action-profile-avatar" data-user-id="425849117">
  </div>
  <div class="tweet-content">
    <div class="tweet-row">
              <span class="tweet-user-name">
  <a class="tweet-screen-name user-profile-link js-action-profile-name" data-user-id="425849117" href="./Twitter_2nd_files/Twitter_2nd.htm" title="intfocus Albert">LihaoAlbert</a>
  <span class="tweet-full-name">intfocus Albert</span>
  </span>
      <div class="tweet-corner">
        <div class="tweet-meta">
  <span class="icons">
    <div class="extra-icons">
              <span class="inlinemedia-icons js-icon-container"></span>
        </div>
  </span>
</div>
      </div>
    </div>
    <div class="tweet-row">
      <div class="tweet-text js-tweet-text">I am here, tweet , from china</div>
    </div>
          <div class="tweet-row">
        <a href="https://twitter.com/#!/LihaoAlbert/status/145733997463474176" class="tweet-timestamp js-permalink">
  <span class="js-tweet-timestamp _old-timestamp" title="1:17 PM, Dec 11th" data-time="1323580667000" data-long-form="true">11 Dec</span>
</a>
        <span class="tweet-actions js-actions" data-tweet-id="145733997463474176">
      <span class="tweet-action action-favorite">
              <a href="https://twitter.com/#" class="unfavorite-action js-toggle-fav" data-favorited="true" title="Unfavorite"><span><i></i><b>Unfavorite</b></span></a>
                        </span>
          <a href="https://twitter.com/#" class="reply-action js-action-reply" data-screen-name="LihaoAlbert" title="Reply"><span><i></i><b>Reply</b></span></a>
          <a href="https://twitter.com/#" class="delete-action js-action-del" title="Delete"><span><i></i><b>Delete</b></span></a>
    </span>
      </div>
                                                      <div class="tweet-row tweet-activity tweet-activity-retweets">
                </div>
              <div class="tweet-row tweet-activity tweet-activity-favorites"></div>
            </div>
</div>
</div></div>
  </div></div></div></div>

            <div class="hero-unit">
	            <h4>待回复评论</h4>
	            <p>The popover plugin provides a simple interface for adding popovers to your application. It extends the
	             <a href="#twipsy" rel="twipsy" data-original-title="Hellp">bootstrap-twipsy.js</a> plugin, so be sure to grab that file as well when including popovers in your project!</p>

          </div>     
          <div class="hero-unit">
	            <h4>监控微博</h4>
	            <p>The popover plugin provides a simple interface for adding popovers to your application. It extends the
	             <a href="#twipsy" rel="twipsy" data-original-title="Hellp">bootstrap-twipsy.js</a> plugin, so be sure to grab that file as well when including popovers in your project!</p>

          </div>
          </div>

         </div> 
         <div class="dashboard">
            <p>The popover plugin provides a simple interface for adding popovers to your application. It extends the <a href="#twipsy">bootstrap-twipsy.js</a> plugin, so be sure to grab that file as well when including popovers in your project!</p>
          </div>
         <!--   details pane   --> 
          <div id="details-pane-outer">
			  <div class="details-pane-shell">
			    <div class="details-pane" style="height: 876px; width: 920px; ">
			      
			    </div>
			  </div>
			</div>
	            <script>
	            $(function () {
	              $("a[rel=details_pane]")
	                .click(function(e) {
	                  $("#details-pane-outer").load("http://10.10.10.10:3000/timeline/get_pane")
	                })
	            })
	            $(function () {
	              $("a[rel=pane_close]")
	                .click(function(e) {
	                  $("#details-pane").css("display","none")
	                })
	            })
	          </script>

			<!--   details pane  end --> 
</div>
